:root {
    --cor7: #f2d096;
    --cor4: #aaa;
}

.navTitle {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid var(--cor4);
}

.navTitle h1 {
    text-align: center;
    font-size: 50px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navUl {
    display: inline;
}

.navUl li{
    padding: 0px 20px;
    list-style: none;
}

.navUl li:hover{
    text-decoration: underline;
    color: var(--cor7);
}

.navUl li a {
    text-decoration: none;
    color: var(--cor7);
}