:root {
    --cor1: #357599;
    --cor3: #fff;
    --cor7: #f2d096;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--cor1);
    color: var(--cor3);
}

.container h1 {
    color: var(--cor7);
}